@font-face {
    font-family: 'Safiro';
    src: url('fonts/safiro-medium.woff');
}

@font-face {
    font-family: 'Adi';
    src: url('fonts/Adihaus-Regular.woff');
}

@font-face {
    font-family: 'AdiItalic';
    src: url('fonts/Adihaus-Italic.woff');
}

/* page setup design */

* {
    background: transparent;
    /* background-color:  #e5e4e0; */
    margin: 0px;
    box-sizing: border-box;
    z-index: 1000;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    font-size: 12px;
    background-color: transparent;
}

.my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100%; 
    z-index: -4; 
}

.section {
    height: 100vh;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: transparent
}


h1 {
    text-align: center;
    font-family: "Safiro";
    font-size: 2.5rem;
    color: black;
    margin-bottom: 2rem;
    margin-top: 0;
}

h2 {
    text-align: center;
    font-family: "Safiro";
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

h3 {
    text-align: center;
    font-family: "Adi";
    font-size: 1rem;
    margin-bottom: 0rem;
    margin-top: 1.5rem;
}

h4 {
    text-align: center;
    font-family: "Adi";
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

p {
    text-align: center;
    font-family: "Adi";
    font-size: 1rem;
    padding-bottom: 2rem;
}

/* header design */

header {
    position: fixed; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000;
    padding: 2rem;
    margin-top: 0.3rem;
    box-sizing: border-box;
    background-color: transparent;
}

.header-right {
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 6rem;
    height: auto;
}

.vertical-text-left {
    position: fixed;
    top: 125px;
    left: 50px;
}

.left-text {
    font-family: "AdiItalic";
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.vertical-text-right {
    position: fixed;
    top: 250px;
    right: -99px;
}

.right-text {
    font-family: "AdiItalic";
    color: #6a6a69;
    font-size: 1.2rem;
    text-align: right;
    transform: rotate(-270deg);
}

#playPauseButton {
    height: 2rem;
    vertical-align: center;
    padding-right: 1rem;
    flex-shrink: 0;
}

/* your life in weeks design */

.center-container {
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    font-family: "Adi";
    margin-left: 15px;
    background-color: transparent;
}

.weeks-container {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 0.9rem;
    gap: 2rem;
    font-family: "Safiro";
}

#date_input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Adi";
    display: inline-flex;
    background-color: transparent;
    border: 0.9px solid black;
    border-radius: 4px;
    white-space: nowrap;
}

.life-circle {
    position: relative;
    margin:0;
    width: 300px;
    height: 300px;
}

.circle, .back-circle, .circle-svg, .progress-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-circle {
    width: 233px;
    height: 233px;
    fill: transparent;
    stroke: 0.9px solid black;
}

.circle {
    fill: none;
    width: 233px;
    height: 233px;
    border: 0.9px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    font-family: "Safiro";
}

.circle-svg {
    width: 310px;
    height: 310px;
    background-color: transparent;
    z-index: 1;
}

.circular-text {
    fill: #6a6a69;
    font-family: "AdiItalic";
    font-size: 1rem;
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.circle-svg .circular-text {
    animation: rotateText 30s linear infinite;
    transform-origin: center;
}

.progress-circle {
    width: 250px;
    height: 250px;
    background-color: transparent;
}

.progress-stroke {
    fill: transparent;
    stroke: black;
    stroke-width: 2.5px;
    stroke-linecap: square;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 880;
    stroke-dashoffset: 880;
    transition: stroke-dashoffset 2s ease-out;
    z-index: 1;
}

.life-circle span {
    font-family: "Safiro";
    font-size: 3rem;
}


/* input & output design */

.input_wrap {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

input {
    border-radius: 4px;
    border: 0.9px solid black;
    font-size: 1rem;
    text-transform: uppercase;
    justify-content: center;
    width: 60%;
    padding: 0px 4px;
}

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Adi";
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: transparent;
    border: 0.9px solid black;
    border-radius: 4px;
    display: inline-flex; /* button only takes up space of text */
    justify-content: center;
    line-height: 1.5;
    transition: all .14s ease-out;
    white-space: nowrap;
    color: black;
}

.button:hover {
    box-shadow: -3px 3px 0 black;
    transform: translate(3px, 3px);
}

.refreshBtn {
    text-align: right;
    font-family: "Adi";
    color: black;
    font-size: 1.2rem;
}

.ageButton {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: "Adi";
    color: white;
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background: #6a6a69;
    border: none;
    border-radius: 4px;
    display: inline-flex; /* button only takes up space of text */
    justify-content: center;
    line-height: 1.5;
    transition: all .14s ease-out;
    white-space: nowrap;
}

span {
    display: grid;
    place-items: center;
    font-family: "Safiro";
    font-size: 30px;
}

/* footer & bottom text design */

.bottom-text-left {
    position: fixed;
    bottom: 80px;
    left: 48px;
}

.left-text-bottom {
    font-family: "AdiItalic";
    color: #6a6a69;
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.footer-left {
    text-align: left;
    font-family: "AdiItalic";
    font-size: 1.2rem;
    color: #6a6a69;
    margin-left: 31px;
}

.footer-right {
    text-align: right;
    font-family: "AdiItalic";
    font-size: 1.2rem;
    color: #6a6a69;
    margin-right: 27px;
}